@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.primary-btn{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 15px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
border-radius: 8px;
border: none;
background: rgb(255, 0, 0);
padding: 10px;
}
.primary-btn:hover{
    cursor: pointer;
   
}
/* section-1 starts */
#section-1{
    background-image: url('../resources/Banner\ Image.png');
    width: 100%;
    height:500px ;
    font-family: Merriweather;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}
.banner-1{  
    background: linear-gradient(180deg, rgb(7, 2, 17),
    rgba(7, 2, 17, 0)100%);
}
.banner-1 p{
    color: rgb(255, 255, 255);    
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    padding-top: 120px;
    text-align: center;
}
.banner-1 h1{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    padding-top: 25px;
}
/* section-1 ends */
/* section-2 starts */
#section-2{
    background: rgb(255, 255, 255);
    font-family: Inter;
    align-items: center;
}
.offer{
    text-align: center;
}
.offer h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    margin-bottom: 10px;
}
.offer p{
    color: rgb(255, 0, 0);
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-bottom: 10px;
}
.offer h3{
color: rgb(7, 2, 17);
font-size: 30px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
margin-bottom: 35px;
}
.new-year-img{
    margin: auto 240px;
    justify-content: center;
    align-items: center;
}
/* section-2 ends */
/* section-3 starts */
#section-3{
    background-image: url('../resources/Vectorrr.png');
    width: 100%;
    height:500px ;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: Merriweather;
    background-repeat: no-repeat;
    background-position: center;
 
}
.greetings{
    display: flex;
 
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
}
.content{
    padding-left: 80px;
    padding-top: 80px;
}
.content h1{
color: rgb(255, 255, 255);
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
}
.content p{
color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-top: 15px;
}
.content button{
    margin-top: 15px;
}
.image img{
    padding-top: 35px;
    padding-left: 55px;
    height: 85%; 
}
/* section-4 starts */
#section-4{
    width: 100%;
    height:350px ;
    margin-top: 70px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.address{
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.address p{
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-align: center;
text-transform: capitalize;
padding-top: 70px;
}
.address .same-typo{
   color:rgb(255, 0, 0);
}  
.address .next{
    align-items: center;
    margin-left: 600px;
    margin-top: 25px;
}
/* section-5 starts */
#section-5{
    width: 100%;
    height:400px ;
    margin-top: 70px;
    margin-bottom: 50px;
}
.coming-soon{
    display: flex;
}
.soon-content{
    width: 33%;
    padding-left: 30px;
}
.soon-content h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.soon-content h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 20px;
 }
 .soon-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
 }
 .soon-img{
    width: 35%;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 20px;
 }
 .soon-last{
    width: 33%;
    padding-left: 30px;
 }
 .soon-last h2{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 10px;
 }
 .soon-last p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-bottom: 50px;
 }
 /* section-6 starts */
 #section-6{
    width: 100%;
    height:500px ;
    margin-top: 100px;
    margin-bottom: 150px;
 }
 .holiday-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 15px;
 }
 .holiday-content h1{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 15px;
 }
 .holiday-content span{
    color: rgb(255, 0, 0);
 }
 .holiday-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
 }
 .holiday-img1{
    margin-top: 50px;
    display: flex;
    background: #fff;
 }
 
 .dummy1{
    width: 40%;
    bottom: -120px;
    position: relative;
    border-radius: 50%;
 }
 .dummy2{
      
        position:relative;
        bottom:-30px;
        left:150px; 
}
.dummy3{
    width: 40%;
 }
 .dummy4{
   height: 100px;
   width: 100%;
 }
 .products{
    padding-bottom: 80px;
 }
 .products-des{
    padding-top: 60px;
    padding-left: 30px;
 }
 .products-des h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 10px;
 }
 .products-des h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 10px;
 }
 .products-des p{
        color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 20px;
 }
 .products .row1, .row2{
    display: flex;
    margin: 10px;
    justify-content: space-around;
 }
 .products .row1 .Rimg1, .Rimg2, .Rimg3, .Rimg4{
    padding-right: 10px;
 }
 .subscribe-area{
    width: 100%;
    height: 500px;
    background: rgba(255, 0, 0, 0.05);
 }
 .subscribe-area .mail{
    padding-left: 550px;
    padding-top: 60px;
 }
 .subscribe-area h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    padding-top: 10px;
    text-align: center;
    text-transform: capitalize;
 }
 .subscribe-area p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
    }
 .opinion{
    margin-left: 450px;
    margin-top: 29px;
    width: 300px;
    height: 50px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    }
    .btn{
        border-radius: 0px 50px 50px 0px;
        background: rgb(255, 0, 0);
        width: 120px;
        height: 50px;
        border: none;
    }
    .last-part{
        width: 100%;
        height: 450px;
        background: rgb(7, 2, 17);
        margin-top: 60px;
    }
    .addr{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: left;
      display: flex;
    }
    .location{
        padding-top: 70px;
        padding-left: 80px;
    }
    .contact{
        padding-top: 70px;
        padding-left: 450px;
    }
    .social-links{
      padding-top: 120px;
     padding-left: 500px;
    }
    .finished{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    .copy-right{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
    }